<%= simple_form_for(@property) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs p-5">
    <%= f.input :name,
                required: true,
                autofocus: true %>
    <%= f.association :country,
                      collection: @countries,
                      include_blank: true %>
    <%= f.input :description, as: :text %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :address %>
    <%= f.input :bedroom_count %>
    <%= f.input :bed_count %>
    <%= f.input :smoking %>
    <%= f.input :pet %>
    <%= f.input :wifi %>
    <%= f.input :minimum_stay %>
    <%= f.input :maximum_guests %>
    <%= f.input :property_type, collection: Property.property_types.keys.map { |k| [t("activerecord.attributes.property.property_types.#{k}"), k]} %>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit, t('helpers.submit.create') %>
  </div>
<% end %>
