<%# <h1><%= t('titles.property.list') %>
<div class="m-4">
  <h1>Barra de Busca Aqui</h1>

  <div class="cards">
    <% @properties.each do |property| %>
      <%= link_to property_path(property) do %>
        <div class="card-property">
          <% if property.photos.attached? %>
            <%= cl_image_tag property.photos.first.key %>
          <% else %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <% end %>
          <div class="card-property-infos">
            <div>
              <h2><%= property.name %></h2>
              <p><%= property.description %></p>
            </div>
            <h2 class="card-property-pricing">£99.99</h2>

            <% if property.user.photo.attached? %>
              <%= cl_image_tag property.user.photo.key, class: 'card-property-user avatar-bordered' %>
            <% else %>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-property-user avatar-bordered" />
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
