<div class="d-flex">
  <div class="image-property">
    <% if @property.photos.attached? %>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% @property.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= "active" if index.zero? %>"">
              <%= cl_image_tag photo.key, class: 'd-block w-100', crop: :fit %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% end %>
  </div>

  <div class="property-info">
    <h1 class="text-center mb-4"><%= @property.name %></h1>
    <p><%= @property.description %></p>

    <div class="information-grid">
      <p><strong><%= t('titles.property.location') %>:</strong></p>
      <p class="text-center"><%= @property.address %></p>
      <p><strong><%= t('activerecord.attributes.property.bed_count') %>:</strong></p>
      <p class="text-center"><%= @property.bed_count %> camas</p>
      <p><strong><%= t('activerecord.attributes.property.bedroom_count') %>:</strong></p>
      <p class="text-center"><%= @property.bedroom_count %> quartos</p>
      <p><strong><%= t('activerecord.attributes.property.maximum_guests') %>:</strong></p>
      <p class="text-center"><%= @property.maximum_guests %> passoas</p>
      <p><strong><%= t('activerecord.attributes.property.minimum_stay') %>:</strong></p>
      <p class="text-center"><%= @property.minimum_stay %> dias</p>
      <p><strong><%= t('activerecord.attributes.property.pet') %>:</strong></p>
      <p class="text-center"><%= @property.pet ? '<i class="fa-solid fa-paw permited"></i>'.html_safe : '<i class="fa-solid fa-ban forbidden"></i>'.html_safe %></p>
      <p><strong><%= t('activerecord.attributes.property.smoking') %>:</strong></p>
      <p class="text-center"><%= @property.smoking ? '<i class="fa-solid fa-smoking permited"></i>'.html_safe : '<i class="fa-solid fa-ban forbidden"></i>'.html_safe %></p>
      <p><strong><%= t('activerecord.attributes.property.wifi') %>:</strong></p>
      <p class="text-center"><%= @property.wifi ? '<i class="fa-solid fa-wifi permited"></i>'.html_safe : '<i class="fa-solid fa-ban forbidden"></i>'.html_safe %></p>
      <p><strong><%= t('activerecord.attributes.property.property_type') %>:</strong></p>
      <p class="text-center"><%= t("activerecord.attributes.property.property_types.#{@property.property_type}") %></p>
    </div>

    <% unless @property.user == current_user %>
      <h3 class="text-center my-2"><%= t('titles.booking.create') %></h3>
      <%= simple_form_for [@property, @booking] do |f| %>
        <%= f.input :start_date, as: :string, input_html: { data: {
                                                            controller: "flatpickr",
                                                            flatpickr_date_format: "d/m/Y",
                                                            flatpickr_min_date: Time.zone.now,
                                                            flatpickr_disable: @disabled_dates
                                                          } } %>
        <%= f.input :end_date, as: :string, input_html: { data: {
                                                            controller: "flatpickr",
                                                            flatpickr_date_format: "d/m/Y",
                                                            flatpickr_min_date: Time.zone.now,
                                                            flatpickr_disable: @disabled_dates
                                                          } } %>

        <div class="form-actions text-center">
          <%= f.submit t('helpers.submit.booking.create')  %>
        </div>
      <% end %>
    <% end %>

    <div>
      <%= link_to t('buttons.back'), properties_path, class: 'btn btn-home-add' %>
    </div>
    <div>
      <%= link_to t('buttons.users.profile'), user_path(@property.user), class: 'btn btn-home-add' %>
    </div>
  </div>
</div>
